#audio-barrier {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

#start-btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
#log {
    overflow:scroll;
    max-width: 80ch;
    margin: auto;
}
#log p {
    font-family: monospace;
    font-size: 10px;
    line-height: 1;
}
#log h4 {
    margin-top:1em;
    margin-bottom:1em;
}